altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
entrypoints
Faker
favicon
fonttools
gitdb
GitPython
htbuilder
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
narwhals
numpy
packaging
pandas
pillow
plotly
prometheus_client
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
six
smmap
soupsieve
st-annotated-text
st-theme
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
validators
watchdog
