div[role=radiogroup] label {
    align-items: center;
    width: 100%;
}

div[role=radiogroup] label div{
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: whitesmoke;

    width: 100%;
    border-radius: 10px;
}

div[role=radiogroup] label div:first-child{
    display: none;
}

div[role=radiogroup] label div div:first-child{
    align-items: center;
    display: contents;
}

input[type="radio"]:checked + div {
    background: lightgrey;
}












/* [data-testid="stAppViewContainer"] {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    background-color:red;
} */

/* Remove padding for the main content area */
/* [data-testid="stVerticalBlock"] {
    padding: 0;
    margin: 0;
    background-color:yellow;
}

/* Optional: Remove padding for the header */
/* [data-testid="stHeader"] {
    padding: 0;
    background-color:purple;
} */
